/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* End of resets */

body,
textarea {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
   height: 100vh;
}

.container {
   max-width: 1000px;
   margin: auto;
}

.dark-mode {
   background-color: black;
}

.dark-mode h1 {
   color: white;
}

.dark-mode .header__button__dark__mode {
   color: black;
   background-color: white;
}

.dark-mode .header__button__dark__mode:hover {
   background-color: rgb(223, 223, 223);
}

.header__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100px;
}

.header__text {
   font-size: 2em;
   font-weight: 700;
}

.header__text__green {
   color: rgb(48, 141, 70);
}

.header__button__dark__mode {
   border: rgb(48, 141, 70) 2px solid;
   padding: 10px;
   background-color: black;
   color: white;
   border-radius: 10px;
   cursor: pointer;
}

.header__button__dark__mode:hover {
   background-color: rgb(43, 43, 43);
}

/* End of header */

.note__filter__bar {
   width: 100%;
   background-color: black;
   box-sizing: border-box;
   border-radius: 20px;
   padding: 20px;
   margin-bottom: 20px;
}

.dark-mode .note__filter__bar {
   padding: 0;
}

.note__filter__bar__title {
   color: white;
   cursor: default;
   font-size: 20px;
   margin-bottom: 10px;
}

.note__filter__bar__textarea {
   resize: none;
   border: none;
   border-radius: 5px;
   width: 100%;
   background-color: rgb(79, 79, 79);
   font-size: 20px;
   color: white;
}

.note__filter__bar__textarea:focus-visible {
   outline: none;
}

/* End of FIlter Bar */

.note__list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 1em;
}

.note__card {
   display: flex;
   position: relative;
   justify-content: space-between;
   flex-direction: column;
   min-height: 170px;
   max-height: 170px;
   background: linear-gradient(180deg, #6ad1aa, #0b936a);
   padding: 15px;
   border-radius: 15px;
   user-select: none;
}

.note__card__date {
   font-size: 14px;
}

.note__card__footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 25px;
}

.note__card__trash {
   background-image: url('./svgs/trash-icon.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   width: 20px;
   height: 100%;
}

.note__card__scroll {
   overflow-y: auto;
}

.note__card__content {
   height: 80%;
}

.note__card__scroll::-webkit-scrollbar {
   width: 12px;
}

.note__card__scroll::-webkit-scrollbar-track {
   background: #0b936a;
   border-radius: 30px;
}

.note__card__scroll::-webkit-scrollbar-thumb {
   background: rgb(0, 0, 0);
   border-radius: 30px;
}

.dark-mode .note__card__scroll::-webkit-scrollbar-thumb {
   background: white;
   border-radius: 30px;
}

.note__card__content > p {
   word-wrap: break-word;
}

.note__card__trash:hover {
   cursor: pointer;
   filter: invert(1);
}

.note__card__textarea {
   resize: none;
   border: none;
   background-color: inherit;
   padding: 0;
   height: 80%;
}

.note__card__textarea:focus-visible {
   outline: none;
}

.save__button {
   border: #0b936a 3px solid;
   margin-right: 0.6rem;
   padding: 6px 10px;
   background-color: #d8e0de;
   color: black;
   border-radius: 10px;
}

.save__button:hover {
   cursor: pointer;
   background-color: rgb(207, 207, 207);
}

.note__card__editor {
   position: fixed;
   z-index: 10;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.636);
}

.note__card__textarea__editor__mode {
   height: 140px;
}

.note__card__editor__mode {
   max-width: 500px;
   margin: auto;
   margin-top: 100px;
}
